@()(implicit messages: Messages)

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@{messages("cat.customers.title")}</h1>
    </div>
</div>

<div ng-controller="CustomerListingCtrl">
    <div class="row" style="margin-bottom: 25px;">
        <div class="col-xs-12 col-sm-4">
            <a href="#" class="btn btn-primary" ng-click="addCustomer()">@{messages("forms.add")} <i class="fa fa-plus"/></a>
        </div>
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <form class="form-inline">
                <div class="input-group">
                    <input type="text" ng-model="form.filterBy" size="50" maxlength="100" class="form-control" placeholder="filtrar por...">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" aria-label="Go!" ng-click="clearFilter()">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button type="submit" class="btn btn-default" aria-label="Go!" ng-click="filter()">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-danger" role="alert" ng-show="errorLoading === true && errorMessage === null">@{messages("cat.customers.error.errorLoadingCustomer")}</div>
            <div class="alert alert-danger" role="alert" ng-show="errorLoading === true && errorMessage !== null">{{errorMessage}}</div>
            <div class="table-responsive">
                <table ng-table="tableOptions" width="100%" class="table table-striped table-bordered table-hover">
                    <tr ng-repeat="eachCustomer in $data track by eachCustomer._id">
                        <td  style="width: 20px;" data-title="'@{messages("cat.customers.list.id.title")}'">
                            <a href="#" ng-click="editCustomer(eachCustomer._id)">{{eachCustomer._id}}</a>
                        </td>
                        <td style="width: 15%;" data-title="'@{messages("cat.customers.list.name.title")}'" sortable="'name'">{{eachCustomer.name}}</td>
                        <td style="width: 10%;" data-title="'@{messages("cat.customers.list.taxId.title")}'" sortable="'taxId'">{{eachCustomer.taxId}}</td>
                        <td                     data-title="'@{messages("cat.customers.list.address.title")}'"></td>
                    </tr>
                    <tr ng-if="$data.length === 0">
                        <td colspan="4">@{messages("list.norows")}</td>
                    </tr>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
    </div>
    
    <!-- Add/Edit modal -->
    <script type="text/ng-template" id="addEditModal.html">
        <div class="modal-header">
            <h3 ng-if="currentCustomer._id !== undefined" class="modal-title" id="modal-title">@{messages("cat.customers.edit.title")} #{{currentCustomer._id}}</h3>
            <h3 ng-if="currentCustomer._id === undefined" class="modal-title" id="modal-title">@{messages("cat.customers.add.title")}</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <form name="CustomerAddEditForm" class="form-horizontal">
                <div class="form-group required">
                    <label for="inputEmail3" class="col-sm-2 control-label">@{messages("cat.customers.list.name.title")}</label>
                    <div class="col-sm-10">
                        <input type="text" name="name" class="form-control" minlength="10" maxlength="100" required="true" placeholder="@{messages("cat.customers.list.name.placeholder")}" 
                               ng-blur="updateCustomerLen()" ng-model="currentCustomer.name">
                        <div class="alert alert-danger" role="alert" ng-show="isNameAcceptable() === false">@{messages("errors.minlength", 10)}</div>
                    </div>
                </div>
                <div class="form-group required">
                    <label for="inputPassword3" class="col-sm-2 control-label">@{messages("cat.customers.list.taxId.title")}</label>
                    <div class="col-sm-10">
                        <input type="text" name="taxId" pattern="\d+" minlength="9" maxlength="15" required="true" class="form-control" maxlength="15" 
                               placeholder="@{messages("cat.customers.list.taxId.placeholder")}" ng-model="currentCustomer.taxId">
                        <div class="alert alert-danger" role="alert" ng-show="CustomerAddEditForm.taxId.$error.pattern">@{messages("errors.numbersOnly")}</div>
                    </div>
                </div>
                <!--
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">@{messages("cat.customers.list.address.title")}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" minlength="0" maxlength="200" placeholder="@{messages("cat.customers.list.address.placeholder")}" 
                               ng-model="currentCustomer.address">
                    </div>
                </div>
                -->
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="modalOk()" ng-disabled="CustomerAddEditForm.$invalid || CustomerAddEditForm.$prestine">@{messages("forms.ok")}</button>
            <button class="btn btn-warning" type="button" ng-click="modalCancel()">@{messages("forms.cancel")}</button>
        </div>
    </script>
    
</div>


