@()(implicit messages: Messages)


<div class="navbar-default sidebar" role="navigation" ng-controller="MenuCtrl">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="#">@{messages("menu.cat")}<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#" ng-click="gotoCustomers()"><i class="fa fa-fw fa-user"></i> @{messages("menu.cat.customers")}</a>
                    </li>
                </ul>
            </li>
            <!-- 
            <li>
                <a href="#">Other high level menu item<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#"><i class="fa fa-fw fa-shopping-cart"></i> shopping item</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-credit-card-alt"></i> card item</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-barcode"></i> bar code</a>
                    </li>
                </ul>
            </li>
             -->
        </ul>
    </div>
</div>
