@(webJarAssets: WebJarAssets)(implicit messages: Messages)

<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/"/>
    <title>My app</title>

    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

     <!--[if lte IE 8]>
     <script>window.location = "controllers.routes.Index.browserNotSupported()";</script>
     <![endif]-->
        
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    
    <link rel="stylesheet" href="@routes.WebJarAssets.at(webJarAssets.locate("3.3.7-1/css/bootstrap.min.css"))"/>
    <link rel="stylesheet" href="@routes.WebJarAssets.at(webJarAssets.locate("metisMenu.min.css"))"/>
    <link rel="stylesheet" href="@routes.WebJarAssets.at(webJarAssets.locate("dist/angular-toastr.min.css"))"/>
    <link rel="stylesheet" href="@routes.WebJarAssets.at(webJarAssets.locate("font-awesome.min.css"))"/>
    <link rel="stylesheet" href="@routes.WebJarAssets.at(webJarAssets.locate("ng-table.min.css"))"/>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/app/sb-admin-2.min.css")"/>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/app/myapp.min.css")"/>

    <!-- Custom CSS -->
    
    <!--[if lte IE 9]>
        <script src="@routes.Assets.versioned("lib/html5shiv/html5shiv.min.js")"></script>
    <![endif]-->
    
    <script type="text/javascript" src="@routes.Assets.versioned("lib/requirejs/require.js")" data-main="@routes.Assets.versioned("javascripts/main.js")"></script>
</head>

<body>

    <!-- Navigation -->
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" ng-controller="MenuCtrl">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">@{messages("menu.toggle")}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">SB Admin v2.0</a>
            </div>
            
            @topmenu()(messages)
            
            @sidemenu()
        </nav>
    
        <div id="page-wrapper" ui-view></div>
    </div>
</body>

</html>
